<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="telligent.diagnostics" type="Telligent.Common.Diagnostics.Tracing.Configuration.DiagnosticsConfigurationSection, Telligent.Common"  />
  </configSections>
  <telligent.diagnostics>
    <tracing enabled="true" verbosity="Simple" />
  </telligent.diagnostics>
</configuration>
